<%=link_to "New Entry", new_entry_path, class: "header-new"%>

<div class="card-container">
  <div class="entries-container">
    <% @entries.order("created_at desc").each do |entry| %>
    <div class="card-entry card-white">
      <div class="entry-heading">
        <h2><%=entry.created_at.strftime("%B %d")%></h2>
      </div>
      <div class="entry-body">
        <h3><%=entry.title%></h3>
        <hr>
        <p class="entry-text"><%= entry.text%></p>
      </div>
      <%=link_to "Show", entry, class: "entry-button button-show"%>
    </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  function truncateBody() {
    list = document.getElementsByClassName("entry-text");
    for (const entry of list) {
      var str = entry.innerText;
      if (str.length > 140) {
        entry.innerText = str.slice(0, 140) + "...";
      }
    }
  }
  truncateBody();
</script>