<p id="notice"><%= notice %></p>
<div class="card-container">
  <div class="entries-container">
    <% @entries.order("created_at desc").each do |entry| %>
    <div class="card-entry card-white">
      <div class="entry-heading">
        <h2><%=entry.created_at.strftime("%B %d")%></h2>
      </div>
      <div class="entry-body">
        <p><%=entry.title%></p>
        <hr>
        <p><%= entry.text %></p>
      </div>
      <%=link_to "Show", entry, class: "entry-button"%>
    </div>
    <% end %>
  </div>
</div>