<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @entry.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= h(@entry.text).gsub(/(?:\n\r?|\r\n?)/, '<br>').html_safe %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @entry.tags %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @entry.visible %>
</p>

<p>
  <strong>User:</strong>
  <%= @entry.user_id %>
</p>

<% if @entry.photo.attached? %>
<image src = "<%=(url_for(@entry.photo))%>">
<%end%>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
